<footer>
    <div class="site-footer">
        <div class="site-copyright">
            © <a href="{{@site.url}}">{{@site.title}}</a>
        </div>
        <div class="theme-copyright">
            Powered by <a href="https://ghost.org/" target="_blank">Ghost</a> &#38; <a
                href="https://github.com/kdo9921/KiwiSkin-for-Ghost" target="_blank">KiwiSkin</a>
        </div>
    </div>
</footer>