 <div class="site-header-content">
     <div class="site-title">
         <a href="{{@site.url}}">
             <h1>{{@site.title}}</h1>
         </a>
         <a href="{{@site.url}}">
             <p>{{@site.description}}</p>
         </a>
     </div>
     </a>
 </div>