{{#if @site.navigation}}
<nav class="header-nav">
    <div class="hbg_button">
        <div onclick="navMenuToggle();" class="hamburger" id="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </div>
    <div class="menu">
        {{navigation}}
    </div>
    <div class="hbg-menu">
        {{navigation}}
    </div>
</nav>
{{/if}}