<nav class="pagination" role="navigation">
    {{#if next}}
    <div class="nav-next"><a href="{{page_url next}}">{{t "Newer Posts"}}</a></div>
    {{/if}}
    {{#if prev}}
    <div class="nav-previous"><a href="{{page_url prev}}">{{t "Older Posts"}}</a></div>
    {{/if}}
</nav>