<nav class="pagination" role="navigation">
    {{#if next}}
    <div class="nav-next"><a href="{{page_url next}}">다음 글</a></div>
    {{/if}}
    {{#if prev}}
    <div class="nav-previous"><a href="{{page_url prev}}">이전 글</a></div>
    {{/if}}
</nav>