{{!< default}}

<article class="post-card">
    <div class="post-content">
        <h1 class="post-title">Error! - {{statusCode}}</h1>
        {{message}}
        <a href="{{@site.url}}">{{t "Go to the front page"}} →</a>
    </div>
</article>
