{{!< default}}


{{#post}}
<article class="post-card">
    <div class="post-content">
        <h1 class="post-title">{{title}}</h1>
        <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">
            {{date published_at}}
        </time>
        {{content}}
        <hr>
        {{> "comment"}}
    </div>
</article>
{{/post}}